<dom-module id="img-detail-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --img-detail; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

#header {
  color: #0E376C;
  font-size: 1.3rem; }

#description {
  color: #6D7988; }

.main {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  text-align: justify; }

</style></template></dom-module>