<link rel="import" href="../polymer/polymer.html">
<!-- <link rel="import" href="bower_components/cells-heading/cells-heading.html"> -->
<link rel="import" href="img-detail-styles.html">
<dom-module id="img-detail">
	<template>
		<style type="text/css" include="img-detail-styles"></style>
		<div class="main">
			<h2 id="header" id="title">[[title]]</h2>
			<p id="description" id="text">[[text]]</p>
		</div>
	</template>
  <script src="img-detail.js"></script>
</dom-module>